body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(0, 136, 255);
}

h1, p {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
}

.body-image {
    display: block;
    max-width: 100%;
}

.anatomy-image {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.target-zone {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(200,200,200,0.1);
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.target-zone:hover {
    background-color: rgba(59, 59, 59, 0.1);
}

#heart {
    top: 42%;
    left: 50%;
}

#lungs {
    top: 40%;
    left: 34%;
}

#liver {
    top: 56%;
    left: 35%;
}

#stomach {
    top: 57%;
    left: 50%;
}

#intestines {
    top: 74%;
    left: 47%
}

.labels-container {
    padding: 20px;
    border-radius: 8px;
    background-color: aqua;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.labels-header {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.label {
    background-color: white;
    color: green;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: grab;
    transition: all ease-in-out .2s;
}

.label:hover {
    background-color: aliceblue;
    transform: translateY (-2px);
}

.reset-btn {
    display: block;
    margin: 30px;
    background-color: red;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}